# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary
*.test
*.out

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Output directory for tokens
output/

# OS specific
.DS_Store
.AppleDouble
.LSOverride
